<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predicción de Ventas</title>
</head>
<body>
    <h1>Ingrese los datos para la predicción</h1>
    <form action="/predict" method="post">
        <label for="mes">Mes:</label>
        <input type="number" id="mes" name="Mes" required>
        <br>
        <label for="ano">Año:</label>
        <input type="number" id="ano" name="Año" required>
        <br><br>
        <input type="submit" value="Predecir">
    </form>
    {% if prediccion is not none %}
    <h2>Predicción: {{ prediccion }}</h2>
    {% endif %}
</body>
</html>
