apache-beam[gcp]==2.57.0
python-dotenv
apache-airflow==2.9.3
--constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.9.3/constraints-3.11.txt
apache-airflow-providers-google
apache-airflow[gcp]